<launch>
  <!-- Node to run image stitching -->
  <node name="image_stitcher" pkg="stitch_images" type="stitch_images" output="screen">
    
    <!-- Remap topics if needed -->
    <param name="left" value="/camera_left/image_raw" />
    <param name="right" value="/camera_right/image_raw" />
    
    <!-- Optional: enable debug display -->
    <!-- <param name="debug" value="true" /> -->
    
    <!-- Image transport -->
    <param name="image_transport" value="compressed" />
    
  </node>
</launch>
